.appended-section a {
  text-decoration: none;
  color: inherit;
}

.appended-section {
  max-width: 50rem;
  margin: auto;
  border-radius: 0.3125rem;
  margin-top: 4rem;
 
}

.faq-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  width: 100%;
  width: 43.75rem;
}

.faq-1, .faq2 {
  margin-bottom: 4rem;
}

.appended-section h1{
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  color: #495867;
  padding: 0.625rem 1.25rem;
  text-align: center;
}

.appended-section h2{
  font-size: 1.1em;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}

.faq{
  padding: 1.875rem 1.875rem;
  border-bottom: 0.0625rem solid #fff;
  color: #fff;
  background-color: #495867;
  line-height: 1.5em;
  display: flex;
}


.faq .faq_text{
  flex-grow: 2;
}

.appended-section-btn{
  color: #ccc;
  font-weight: 400;
  font-size: 1.4em;
  cursor: pointer;
}

.appended-section-btn.hide {
  display: none;
}

/* Hide p tags */
.faq.open h2{
  color: #EEB319;
}

.faq p{
  display: none;
  font-weight: 300;
  font-family: 'Nunito', sans-serif;
}

.faq.open p{
  display: block;
}
.faq.open .btn{
  color: #EEB319;
}

@media (max-width: 50rem){
  .appended-section h1 {
    font-size: 1.5rem;
  }
  .faq {
    padding: 1.875rem;
  }

  .faq-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
    width: 100%;
  }
}
