.first-section {
    display: flex;
    overflow-x: hidden; 
    background-color: #ffffff;
}

.first-section .sliding-div  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    min-width: 100%;  
    padding: 20px 0;
    transition: transform 0.5s ease-in;
}

.first-section div p {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    padding: 0 20px;
    text-align: start;
    max-width: 30rem;
    font-weight: 800;
}

.first-section img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    min-width: 20rem;
    width: 50%;
}

@media (max-width: 1000px) { 
    .first-section div p {
        font-size: 35px;
    }   
}

@media (max-width: 800px) { 
    .first-section div p {
        font-size: 30px;
    }   
}

@media (max-width: 600px) {
    .first-section .sliding-div {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 15px;
    }
    
    .first-section div p {
        font-size: 16px;
    }

    .first-section img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        min-width: 0rem;
        width: 50%;
    }
    
}

