.first-section {
    display: flex;
    overflow-x: hidden; 
    background-color: #ffffff;
}

.first-section .sliding-div  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    min-width: 100%;  
    padding: 1.25rem 0;
    transition: transform 0.5s ease-in;
}

.first-section div p {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
    padding: 0 1.25rem;
    text-align: start;
    max-width: 30rem;
    font-weight: 800;
}

.first-section img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    min-width: 20rem;
    width: 50%;
}


@media (max-width: 62.5rem) { 
    .first-section div p {
        font-size: 2.1875rem;
    }   
}

@media (max-width: 50rem) { 
    .first-section div p {
        font-size: 1.875rem;
    }   
}

@media (max-width: 37.5rem) {
    .first-section .sliding-div {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 0.9375rem;
    }
    
    .first-section div p {
        font-size: 1rem;
    }

    .first-section img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        min-width: 0rem;
        width: 50%;
    }
    
}

