.main-footer{
    padding: 1.25rem;
    background-color: #ffffff;
}
.my-new-footer-div {
        display: grid;
        padding: 1.25rem 0 0.625rem 0.625rem;
        grid-template-columns: 2fr 2fr 0.8fr;
        column-gap: 0.625rem;
    }

    .main-footer p, .main-footer h3, .main-footer span {
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 1.5;
    }

    .contact-info h3{
        padding-left: 1.25rem;
    }

    .contact-div {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 0.625rem;
    }

    .contact {
        display: grid;
        grid-template-columns: 1fr 9fr;
    }

    .contact svg {
        width: 2.8125rem;
        margin-top: 0.625rem;
    }

    .email svg {
        margin-top: 0.3125rem;
    }
    
    .explore a:hover {
        text-decoration: underline;
        color: #EEB319;
    }
    
    .social-media svg:hover {
        opacity: 0.6;
    }

    .about h3, .about p{
        line-height: 1.9;
    }

    .about-paragraph {
        font-size: 1rem;
    }
    
    .main-footer h3 {
        font-size: 1.5rem;
        cursor: context-menu;
    }

    .social-media {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-media svg {
        width: 2rem;
        height: 2rem;
    }

    .social-media a:not(:last-child) {
        margin: 0 1.5rem 0rem 0;  
    }

    .copyright {
        border-top: 0.0625rem solid black;
        padding: 1rem 0 0 0;
        margin-bottom: 1.25rem;
    }

    .copyright .find-us-on {
        text-align: center;
        padding-bottom: 0.625rem;
        font-style: italic;
    }

    .copyright-java {
        padding-top: 1.25rem;
    }

    .copyright-java .copyme {
        font-size: 0.875rem;
        font-weight: 500;
        text-align: center;
    }

    .copyright-java .java {
        font-size: 0.875rem;
        font-style: italic;
        text-align: center;
        font-weight: 700;
    }

    .copyright-java .java a {
        color: #1783f0;
    }

@media (min-width:37.5rem) and (max-width:50rem) {
    .my-new-footer-div {
        display: grid;
        padding: 1.25rem 0 1.25rem 0.3125rem;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
            "about about"
            "contact explore";
        row-gap: 1.25rem;
        column-gap: 0pt;
    }

    .about {
        grid-area: about;
    }

    .contact-info {
        grid-area: contact;
    }

    .explore {
        grid-area: explore;
        justify-self: start;
    }

    .contact {
        column-gap: 0;
        grid-template-columns: 1fr 96%;
    }

    .social-media {
        margin: 0 0 1rem 0;
    }

    .copyright-java .copyme {
        font-size: 0.625rem;
        text-align: center;
    }

    .copyright-java .java {
        font-size: 0.625rem;
        padding-left: 0;
        text-align: center;
    }

    .copyright {
        padding: 0.5rem 0 0 0;
        margin-bottom: 0.625rem;
    }

    .copyright .find-us-on {
        padding-bottom: 0.3125rem;
    }

    .copyright-java {
       padding-left: 0;
    }
} 

@media (max-width: 50rem) {
    .main-footer {
        padding: 0.3125rem 0.625rem 0.625rem 0;
    }
    .my-new-footer-div {
        display: grid;
        padding: 1.25rem 0 0.625rem 0.3125rem;
        grid-template-columns: 1fr;
        row-gap: 0.9375rem;
    }  

    .about {
        padding-left: 0.625rem;
    }
    
    .about-paragraph {
        font-size: 0.0625rem;
    }

    .contact-div {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 0.3125rem;
    }

    .contact-info h3{
        padding-left: 0.625rem;
    }

    .main-footer h3 {
        font-size: 1.25rem;
        cursor: context-menu;
    }

    .main-footer p, .main-footer span {
        font-size: 1rem;
    }

    .contact svg {
        width: 2.1875rem;
        margin-top: 0.625rem;
    }

    .email svg {
        margin-top: 0;
    }

    .explore {
        padding: 0.625rem;
    }

    .social-media {
        margin: 0 0 1rem 0;
    }

    .social-media svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .copyright-java .copyme {
        font-size: 0.625rem;
        text-align: center;
    }

    .copyright-java .java {
        font-size: 0.625rem;
        padding-left: 0;
        text-align: center;
    }

    .copyright {
        padding: 0.5rem 0 0 0;
        margin-bottom: 0.625rem;
    }

    .copyright .find-us-on {
        padding-bottom: 0.3125rem;
    }

    .copyright-java {
       padding-left: 0;
    }

}