.my-timeline-section {
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.my-timeline-section h2 {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.timeline {
    position: relative;
    margin: 0 auto;
    margin-bottom: 4rem;
  }

 
    .my-timeline-section {
      margin-bottom: 1.25rem;
    }
    .timeline {
      width: 70%;
    }

    .content {
      padding: 1.25rem 3.125rem;
    }
  
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 0.1875rem;
    background-color: #EEB319;
    top: 0.0625rem;
    bottom: 0.0625rem;
    left: 50%;
    margin-left: -0.1875rem;
  }
  
  .timeline .container {
    padding: 0.625rem 1.25rem;
    position: relative;
    width: 50%;
  }

  @media (min-width:50rem) {
    .timeline .container::after {
      content: "";
      position: absolute;
      width: 1.25rem;
      margin-top: 1.25rem;
      height: 1.25rem;
      right: -0.5625rem;
      background-color: rgb(65, 65, 65);
      top: 0.9375rem;
      border-radius: 50%;
      z-index: 1;
  }
}
  
  .left {
    right: 0;
  }
  
  .right {
    left: 50%;
  }
  
  .right::after {
    left: -0.6875rem;
  }

  .left::after {
      right: -0.5rem;
  }
  
  .content {
    padding: 1.25rem 0.25rem;
    background-color: #495867;
    position: relative;
    border-radius: 0.9375rem;
    width: 80%;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #EEB319;
    font-weight: 700;
  }

    .odd {
      position: relative;
      left: 20%;
    }

  @media (max-width: 50rem) {
    .entire-container {
      background-color: inherit;
    }
    .my-timeline-section h2 {
        font-size: 1.25rem;
        font-weight: 400;
    }

    .timeline::after {
        left: 2.8125rem;
        top: 0.625rem;
        bottom: 0rem;
    }

    .timeline .container {
        width: 90%;
        padding-left: 4.375rem;
        padding-right: 1.5625rem;
    }

    .left::after, .right::after {
        left: 2.0625rem;
        top: -1.375rem;
    }

    .right {
        left: 0%;
    }

    .right > .content {
        width: 100%;
        font-size: 0.625rem;
    }

    .left > .content {
        left: 0;
        width: 100%;
        font-size: 0.625rem;
    }

    @media (max-width:290px) {
      .first-even {
        padding-inline: 0px;
      }
    }

    .timeline::after {
        bottom: 0.625rem;
        top: 0.625rem;
    }

    .timeline .container::after {
      content: '';
      position: absolute;
      width: 1.25rem;
      margin-top: 1.25rem;
      height: 1.25rem;
      right: -1.0625rem;
      background-color: #414141;
      top: 0.625rem;
      border-radius: 50%;
      z-index: 1;
    }
  }

 