@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9F9F9;
}

a {
    text-decoration: none;
    color: inherit;
}

    .download {
        background-color: #495867;
    }

    .download .note {
        width: 80%;
        margin: auto;
        display: grid;
        grid-row-gap: 20px;
        padding-left: 90px;
        grid-template-columns: repeat(2, 1fr);
        height: 370px;
        grid-template-areas: 
            "text text"
            "android apple";
    }

    .note p {
        grid-area: text;
        padding: 70px 10px 0 0;
        width: 50%;

    }

    .android-phone {
        grid-area: android;
    }

    .apple-phone {
        grid-area: apple;
    }

    .note p {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: #EEB319;
        line-height: 1.5;
    }

    .btn{
        width: 150px;
        height: 50px;
        background-color: #fff;
        border-radius: 15px;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .div-btn {
    display: flex;
    column-gap: 40px;
    }

    .btn h4 {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;  
    } 

    .div-btn .btn svg {
    margin-left: 0.5rem;
    padding-right: 10px;
    width: 30px;
    }

    @media only screen and (max-width:800px) {
    .note p {
        padding: 40px 30px 0 0;
        text-align: center;
        font-weight: 100;
        font-size: 16px;
        font-family: 'Lato', sans-serif;
    }
    .btn{
        width: 120px;
        height: 40px;
        background-color: #fff;
        border-radius: 15px;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .btn h4 {
        font-size: 12px;
        font-weight: 100;  
        }

    .download .note {
        width: 100%;
        height: 250px;
        padding-left: 160px;
    }

    .div-btn {
        width: 50%;
        column-gap: 10px;
    }


    }

    @media (max-width:600px) {
    .note p {
    padding: 0;
    width: 100%;
    font-weight: 100;
    font-size: 12px;
    }

    .download .note {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        justify-content: center;
    }

    .div-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        row-gap: 20px;
        }

    .btn-11 {
        margin: 0 auto;
    }

    .div-btn .btn {
    display: flex;
    padding: auto;
    }

    }  