@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
*{
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: inherit;
}
/* MENU START*/
.menu-nav {
  background-color: inherit;
  padding-top: 15px;
  position: sticky;
  top: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.logo-container {
  justify-self: center;
  width: 100%;
}

@media (min-width: 800px) {
  .logo-container {
      padding-left: 70px;
  }
}

.menu-ul {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  justify-items: center;
}

.menu-ul li {
  list-style: none; 
}

.inside-li a{
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.25s ease-in;
}

.inside-li a:hover {
  color: #EEB319;
}

.hamburger {
  display: none;
}

.logo {
  height: 44px;
}
@media (max-width: 50em) {
  
  .menu-nav {
      grid-template-columns: 1fr 1fr;
      justify-items: end;
      align-items: center;
      padding-top: 5px;
  }
  .menu-ul {
      display: flex;
      width: 100%;
      padding: 2.5rem 1rem;
      margin: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 3rem;
      left: 0;
      z-index: 12;
      display: none;
  }

  .menu-ul.active, .bg.active {
      display: flex;
      background-color: #fff;
  }

  .inside-li:not(:last-child) {
      margin: 0 0 2rem 0;
  }
  .inside-li a{
      font-family: 'Work Sans', sans-serif;
      text-decoration: none;
      color: #495867;
      font-weight: 700;
      font-size: 16px;
      transition: color 0.25s ease-in;
  }
  .bg {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 3rem;
      left: 0;
      display: none;
  }
  .logo {
      min-width: 4rem;
      height: 2rem;
      padding-left: 30px;
  }

  .logo-container {
      padding-top: 10px;
  }

  .hamburger {
      display: block;
      padding-right: 30px;
  }

  .hamburger .active {
      display: block;
  }

  .hamburger img {
      width: 1.5rem;
      display: none;
  }

  .hamburger svg {
      display: none;
  }
}

/* MENU END */

main {
  max-width: 800px;
  margin: 5vh auto;
  padding: 20px;
  /* background-color: #495867; */
  background-color: #F9F9F9;
  border-radius: 15px;
}

h1{
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 40px;
  /* color: #fff; */
  color: #495867;
  padding: 0 20px;
}

h2{
  font-size: 1.1em;
  font-weight: 400;
  /* color: #fff; */
  /* color: #495867; */
}

.faq{
  padding: 20px 30px;
  border: 1px solid #fff;
  /* border: 1px solid #495867; */
  border-radius: 5px;
  color: #fff;
  background-color: #495867;
  /* color: #495867; */
  position: relative;
  line-height: 1.5em;
  margin-top: 15px;
}


.faq .faq_text{
  width: 90%;
}

.btn{
  color: #ccc;
  position: absolute;
  right: 25px;
  top: 35px;
  font-weight: 400;
  font-size: 1.4em;
  cursor: pointer;
  padding: 0 0.5rem;
}

.btn.hide {
  display: none;
}

/* Hide p tags */
.faq.open h2{
  color: #EEB319;
}

.faq p{
  display: none;
  font-weight: 300;
}

.faq.open p{
  display: block;
}
.faq.open .btn{
  color: #EEB319;
}

/* Container */
.container {
  margin: 10px 0;
}

@media (max-width: 600px){

  h1 {
    font-size: 24px;
    padding: 0;
    text-align: center;
  }

  .faq{
    padding: 5px 30px;
  }

  .btn{
    top: 25px;
    padding: 0 0.3rem;
  }

}

/* FOOTER BEGINS */
.main-footer{
  padding: 20px;
  background-color: #f9f9f9;
}
.my-new-footer-div {
      display: grid;
      padding: 20px 0 10px 10px;
      grid-template-columns: 2fr 2fr 0.8fr;
      column-gap: 10px;
  }

  .main-footer p, .main-footer h3, .main-footer span {
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      line-height: 1.5;
  }

  .contact-info h3{
      padding-left: 20px;
  }

  .contact-div {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 0px;
  }

  .contact {
      display: grid;
      grid-template-columns: 1fr 9fr;
  }

  .contact svg {
      width: 45px;
      margin-top: 10px;
  }

  .email svg {
      margin-top: 5px;
  }
  
  .explore a:hover {
      text-decoration: underline;
      color: #EEB319;
  }
  
  .social-media svg:hover {
      opacity: 0.6;
  }

  .about h3, .about p{
      line-height: 1.9;
  }

  .about-paragraph {
      font-size: 16px;
  }
  
  .main-footer h3 {
      font-size: 24px;
      cursor: context-menu;
  }

  .social-media {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .social-media svg {
      width: 2rem;
      height: 2rem;
  }

  .social-media a:not(:last-child) {
      margin: 0 1.5rem 0rem 0;  
  }

  .copyright {
      border-top: 1px solid black;
      padding: 1rem 0 0 0;
      margin-bottom: 20px;
  }

  .copyright .find-us-on {
      text-align: center;
      padding-bottom: 10px;
      font-style: italic;
  }

  .copyright-java {
      padding-top: 20px;
  }

  .copyright-java .copyme {
      font-size: 12px;
      text-align: center;
  }

  .copyright-java .java {
      font-size: 12px;
      font-style: italic;
      text-align: center;
  }

  .copyright-java .java a {
      color: #1783f0;
  }

@media (min-width:600px) and (max-width:800px) {
  .my-new-footer-div {
      display: grid;
      padding: 20px 0 20px 5px;
      grid-template-columns: 3fr 1fr;
      grid-template-areas: 
          "about about"
          "contact explore";
      gap: 20px;
  }

  .about {
      grid-area: about;
  }

  .contact-info {
      grid-area: contact;
  }

  .explore {
      grid-area: explore;
  }

  .social-media {
      margin: 0 0 1rem 0;
  }

  .copyright-java .copyme {
      font-size: 10px;
      text-align: center;
  }

  .copyright-java .java {
      font-size: 10px;
      padding-left: 0;
      text-align: center;
  }

  .copyright {
      padding: 0.5rem 0 0 0;
      margin-bottom: 10px;
  }

  .copyright .find-us-on {
      padding-bottom: 5px;
  }

  .copyright-java {
     padding-left: 0;
  }
}

@media (max-width: 600px) {
  .main-footer {
      padding: 5px 10px 10px 0;
  }
  .my-new-footer-div {
      display: grid;
      padding: 20px 0 10px 5px;
      grid-template-columns: 1fr;
      row-gap: 15px;
  }  

  .about {
      padding-left: 10px;
  }
  
  .about-paragraph {
      font-size: 1px;
  }

  .contact-div {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 5px;
  }

  .contact-info h3{
      padding-left: 10px;
  }

  .main-footer h3 {
      font-size: 20px;
      cursor: context-menu;
  }

  .main-footer p, .main-footer span {
      font-size: 16px;
  }

  .contact svg {
      width: 35px;
      margin-top: 10px;
  }

  .email svg {
      margin-top: 0;
  }

  .explore {
      padding: 10px;
  }

  .social-media {
      margin: 0 0 1rem 0;
  }

  .social-media svg {
      width: 1.5rem;
      height: 1.5rem;
  }

  .copyright-java .copyme {
      font-size: 10px;
      text-align: center;
  }

  .copyright-java .java {
      font-size: 10px;
      padding-left: 0;
      text-align: center;
  }

  .copyright {
      padding: 0.5rem 0 0 0;
      margin-bottom: 10px;
  }

  .copyright .find-us-on {
      padding-bottom: 5px;
  }

  .copyright-java {
     padding-left: 0;
  }

}
/* FOOTER ENDS */