.first-section {
    display: flex;
    overflow-x: hidden; 
    background-color: #ffffff;
}

.first-section .sliding-div  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    min-width: 100%;  
    padding: 20px 0;
    transition: transform 0.5s ease-in;
}

.first-section div p {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    padding: 0 20px;
    text-align: center;
}

.first-section img {
    height: auto;
    width: 100%;
    max-width: 50%;
}

@media (max-width: 600px) {
    .first-section .sliding-div {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 15px;
    }
    
    .first-section div p {
        font-size: 16px;
    }
    
}