.my-timeline-section {
  background-color: #F9F9F9;
}

.my-timeline-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.timeline {
    position: relative;
    margin: 0 auto;
  }

  @media (min-width:800px) {
    .my-timeline-section {
      margin-bottom: 20px;
    }
    .timeline {
      width: 70%;
    }

    .content {
      padding: 20px 50px;
    }
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #EEB319;
    top: 1px;
    bottom: 1px;
    left: 50%;
    margin-left: -3px;
  }
  
  .container {
    padding: 10px 20px;
    position: relative;
    width: 50%;
  }
  
  .container::after {
    content: '';
    position: absolute;
    width: 20px;
    margin-top: 20px;
    height: 20px;
    right: -17px;
    background-color: #414141;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .left {
    right: 0;
  }
  
  .right {
    left: 50%;
  }
  
  .right::after {
    left: -11px;
  }

  .left::after {
      right: -8px;
  }
  
  .content {
    padding: 20px 4px;
    background-color: #495867;
    position: relative;
    border-radius: 15px;
    width: 80%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #EEB319;
  }

    .odd {
      left: 18.9%;
    }

  @media (max-width: 600px) {
    .my-timeline-section h2 {
        font-size: 18px;
        position: sticky;
        z-index: 4;
    }

    .timeline::after {
        left: 45px;
        }

        .container {
            width: 90%;
            padding-left: 70px;
            padding-right: 25px;
        }

        .left::after, .right::after {
            left: 33px;
            top: -22px;
            }

        .right {
            left: 0%;
            }

        .right > .content {
            width: 100%;
            font-size: 10px;
        }

        .left > .content {
            left: 0;
            width: 100%;
            font-size: 10px;
        }

        .timeline::after {
            bottom: 10px;
            top: 10px;
        }

        .container::after {
            top: 10px;
        }
  }